@font-face { font-family: 'Cinzel Decorative'; font-style: normal; font-weight: 500; src: local('CinzelDecorative-Regular'), url(cinzel.woff) format('woff');}

body { color: #515151; font: 80%/1.5 Verdana,sans-serif; min-width: 960px; margin: 0px auto; max-width: 1080px; text-shadow: 0px 1px 1px rgba(0,0,0,0.1); }
header { font-family: 'Cinzel Decorative', 'Lucida Bright', Verdana, cursive; font-size: 36px; margin: 14px 0px 10px 0px; }
#bar { background-color: #1abc9c; margin-top: 0px; border: 3px solid #1abc9c;}
nav { border: 1px solid #eee; height: 34px; border-top: 0px; }
article, footer  { border: 1px solid #eee; padding: 10px; margin-botton: 10px; }
nav ul { list-style-type: none; margin: 0px; padding: 0px; display: inline-block; float:left; }
nav ul li { display: inline-block; margin-left: 0px; border-right: 1px solid #eee; margin-left: -4px;}

nav ul li:first-child { margin-left: -1px; }
nav a:link, nav a:visited, nav a:active { color: #515151; text-decoration: none; display: inline-block; padding: 8px 12px;  }
nav a:hover { background: #1abc9c; color: #fff;  }

.rnav { float:right; }
.rnav li:first-child { float:right; margin-right: -1px; border-right: 0px;}
rect {clear: both;}


a:link, a:visited, a:active { color: #515151; text-decoration: none; }
a:hover { color: #1abc9c; text-decoration: underline; }

#lsnightly a, #lsfull a { text-decoration: none; }
#deleteconfirm { border: 1px solid #eee; padding: 6px; margin-top: -1px; background-color: #eafcfc;  text-align: center; }
#deleteconfirm { display: none; }
#sptarget { color: #c0392b; }
#deleteconfirm a:link, #deleteconfirm a:visited, #deleteconfirm a:hover { color:#c0392b; }
span.bd { display:inline-block; width: 92px; }
input[type=submit] {margin-top: 6px; width: 251px; }
article { margin: -1px auto;  }
table { width: 100%; text-align: center; border-collapse:collapse;}
th, td { border-bottom: 1px solid #eee; padding: 4px 0px; max-width: 100px; overflow: hidden;} 
td:hover { background-color: #fafafa;}
form { margin: 10px auto; padding: 10px;}     
footer { text-align: right; margin-top: -1px; margin-bottom: 10px; }
table td input[type=text] { width: 60px; }
table td input[type=number] { width: 40px; }
table td input[id^=name] { width: 100px;}
#update { width: 60px; }
#filter { clear: both; border-left: 1px solid #eee; border-right: 1px solid #eee; margin-top: -1px;}
.csection { border-bottom: 0px dotted #eee; padding: 0px;}
.csection:last-child { border-bottom: 1px solid #eee; }
.csectionone { border-bottom: 0px dotted #eee; padding: 0px 0px; margin:0px;}
.ctitle {display: inline-block; font-weight: bold; margin: 0px 12px; width: 98px;  }
.csection ul, .ctitle { font-size: 90%; }
#filter ul { margin-top: 6px; margin-bottom: 6px; }
#filter ul, #filter ul li { display: inline-block; list-style-type: none; margin-right: 14px;}
#filter a { text-decoration: none; }
#filter a.selected { background-color: #1abc9c; padding: 2px 6px 2px 6px; color: #fff; }


article, footer  { border: 1px solid #eee; padding: 10px; margin-botton: 10px; }

article { margin-top: -1px; border: 1px solid #eee; clear:both; min-height: 100px; border-top: 0px;}
section { width:756px; border-left: 1px solid #eee; margin-left: -1px; height: auto; padding: 0px 10px; float: left; min-height: 480px; } 
aside { width:134px; padding: 0px 10px; float: left; } 

h5, h4 { margin: 4px auto; clear: both;}
h5 a:link, h5 a:visited, h5 a:active { color: #1abc9c; text-decoration: none; padding: 2px 0px; }
h5 a:hover { background-color: #34495e; border: 1px solid #1b2c40; color: #fff; padding: 2px 6px;}

input[type=checkbox] { margin-left: 10px; display: inline-block; margin-top: -2px; }
label { display: inline-block; max-width: 180px; vertical-align: top; margin-top: 0px;  font-size: 75%; }
.deviceselect td { vertical-align: top; }
article table, #adddevice { font-size: 84% }
input[type=radio] { margin-left: 8px; }
#spec {margin-top: 18px;}
#build { width: 120px; margin-top: 6px;}
#query { width: 124px; margin-top: 8px; }
.clear {clear: both; }

.cbselector { display: inline;}
.reports { border: 1px solid #eee; margin-top: 10px; margin-bottom: 10px;}
.reports th, .reports td { border-left: 1px solid #efefef; padding: 2px 0px; font-weight: normal;}
.reports th { padding: 3px 0px 2px 0px;  }
.reports tr:nth-child(even) { background-color: #fbfbfb; }
.reports tr th:first-child, .reports tr td:first-child, .reports tr th:last-child, .reports tr td:last-child { max-width: 140px; width: 120px; overflow: hidden; }
.reports tr:hover { background-color: #fafafa; }
.reports  a:link, .reports a:visited, .reports a:hover { color:#1abc9c; }


.deviceselect { border: 0px solid #eee; }
.deviceselect td { border-left: 1px dotted #efefef; border-right: 1px dotted #efefef; padding: 6px 0px 2px; font-weight: normal; width: 20%; overflow: hidden; }
.deviceselect th:nth-child(odd) { border-bottom: 2px solid #1abc9c; }
.deviceselect th:nth-child(even) { border-bottom: 2px solid #e67e22; }
.deviceselect th { padding: 7px 0px 5px 0px; font-weight: 300;}
.deviceselect th:hover { background-color: #fafafa;}
.deviceselect td { text-align: left; }
#filter form { margin: 0px; padding: 0px 0px; text-align: center; }
#btquery { box-shadow: 0px 1px 2px rgba(0,0,0, 0.2); margin-top:10px; background-color: #1abc9c; padding: 6px 12px; color: #fff; 
border-top: 1px solid #1abc9c; border-left: 1px solid #1abc9c; border-right: 1px solid #16a085; border-bottom: 1px solid #16a085; border-radius:3px; width: 20%; }
#btquery:hover { cursor:pointer; background-color: #16a085; border-right: 1px solid #058074; border-bottom: 1px solid #058074; }

#distype { display: inline-block; float:right;  } 
#distype ul { padding: 0px; display: inline-block; border: 1px solid #f3f3f3; margin: 0px; }
#distype ul li { list-style-type: none; padding: 2px 10px; display: inline-block; margin-right: 0px; }
#distype ul li:hover {cursor: pointer; background: #16a085; color: #fff; margin-left: -4px; padding: 2px 10px; }
#distype ul.notdisplay { display: none;  }
.dison { background: #1abc9c; color: #fff; }
#ind {color: #aaa;}

#noresult { margin: 20px auto; text-align: center; }

#dailynote { clear: both; font-size: 11px; border-left: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px dotted #eee; margin-top: -1px; padding: 10px 10px; }
/* 
	#dailynote a:link, a:visited, a:active { color: #8e44ad; border: 1px dotted #8e44ad; padding: 0px 6px; margin: 2px 2px;  text-decoration: none; display: inline-block;}  
	#dailynote a:hover { background-color: #2c3e50; border: 1px solid #1b2c40; color: #fff;}  
*/
#dailynote:hover { background-color: #fafafa;}
#dailynote a:link, a:visited, a:active { color: #16a085; border: 1px dotted #16a085; padding: 0px 6px; margin: 2px 2px;  text-decoration: none; display: inline-block;}  
#dailynote a:hover { background-color: #34495e; border: 1px solid #1b2c40; color: #fff;}  
#dailynote span {  padding: 0px 2px;  margin: 2px 0px;  text-decoration: none; display: inline-block; }


.info { background-color:rgba(230, 126, 34, 1.0); color: #fff;}  
.info:hover { background-color:rgba(211, 84, 0, 1.0); color: #fff;  }  
.warn { background-color: rgba(231, 76 , 60, 1.0); color: #fff; }  
.warn:hover { background-color:rgba(192, 57, 43, 1.0); color: #fff;  }  
.up { background-color: rgba(26, 188, 156, 1.0); color:#fff;  }
.up:hover { background-color: rgba(22, 160, 133, 1.0); color:#fff; }


 .reportscategory { border: 1px solid #eee; margin-top: 10px; margin-bottom: 10px; font-size: 9px;}
.reportscategory th, .reportscategory td { border-left: 1px solid #efefef; padding: 1px 0px; font-weight: normal;}
.reportscategory th { padding: 3px 0px 2px 0px; max-width: 34px; }
.reportscategory tr:nth-child(even) { background-color: #fbfbfb; }
.reportscategory tr:hover { background-color: #fafafa; }
.reportscategory a:link, .reportscategory a:visited, .reportscategory a:hover { color:#1abc9c; }
.category { max-width: 120px; overflow: hidden; height: 20px;}
.categorytd { text-align: left; overflow: hidden !important; padding: 0px 10px !important; }
 

 

