{% extends "main.htm" %}

{% block body %}
    <div id='filter'>
        <div class='csection'>
            <div class='ctitle'>Platform:</div>
            <ul>
                <li><a href='#' class='selected'>All</a></li>
                {% for platform in platforms %}
                    <li><a href='#'>{{ escape(platform.platform) }}</a></li>
                {% end %}
            </ul>
        </div>
        <div class='csection'>
            <div class='ctitle'>Architecture:</div>
            <ul>
                <li><a href='#' class='selected'>All</a>
                {% for architecture in architectures %}
                    <li><a href='#'>{{ escape(architecture.architecture) }}</a></li>
                {% end %}
            </ul>
        </div>
        <div class='csection'>
            <div class='ctitle'>Priority:</div>
            <ul>
                <li><a href='#' class='selected'>All</a>
                {% for priority in priorities %}
                    <li><a href='#'>P{{ escape(priority.priority) }}</a></li>
                {% end %}
            </ul>
        </div>
        <div class='csection'>
            <div class='ctitle'>Type:</div>
            <ul>
                <li><a href='#' class='selected'>All</a>
                {% for type in types %}
                    <li><a href='#'>{{ escape(type.type) }}</a></li>
                {% end %}
            </ul>
        </div>
        <div class='csection'>
            <div class='ctitle'>SDK Version:</div>
            <ul>
                <li><a href='#' class='selected'>All</a>
                {% for sdk in sdks %}
                    <li><a href='#'>{{ escape(sdk.sdk) }}</a></li>
                {% end %}
            </ul>
        </div>
    </div>    
    <article>
	
        {% for device in devices %}
            <input name="id_{{ device.id }}" type="checkbox" value="{{ escape(device.name) }}" class="cbselector"> {{ escape(device.name) }} 
        {% end %}
        <p/>
        <h4>Nightly Test Report</h4>
        <table class="reports">
            <tr>
                <th></th>
                {% for result in results %}
                <th>{{escape(result.build_id)}}</th>
                {% end %}
            </tr>
            <tr>
                <td>Total TC</td>
                {% for result in results %}
                <td>{{ result.total_cases }}</td>
                {% end %}
            </tr>
            <tr>
                <td>Passed</td>
                {% for result in results %}
                <td>{{ result.total_pass }}</td>
                {% end %}
            </tr>
            <tr>
                <td>Failed</td>
                {% for result in results %}
                <td>{{ result.total_fail }}</td>
                {% end %}
            </tr>
            <tr>
                <td>Blocked</td>
                {% for result in results %}
                <td>{{ result.total_na }}</td>
                {% end %}
            </tr>
            <tr>
                <td>Pass rate</td>
                {% for result in results %}
                <td>{{ format(float(result.total_pass)/result.total_cases, '.0%') }}</td>
                {% end %}
            </tr>
        </table>    
 
    </article>
{% end %}
