<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset='utf-8' >
    <meta http-equiv='X-UA-Compatible' content='IE=10' />
    <meta name='author' content='Belem, belem.zhang@intel.com'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=0.2, maximum-scale=3.0, user-scalable=yes' name='viewport' />
    <!-- <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'> -->
    <link rel='stylesheet' href='{{ static_url('style.css') }}' />
    <script type='text/javascript' src='{{ static_url('jquery-1.11.1.min.js') }}'></script>
  </head>
  <body>
    <div id='wrapper'>
        <header>{% block header %}{{ title }}{% end %}</header>
        <div id='bar'></div>
        <nav>
            <ul>
                <li><a href='/' id='lkhome'>Nightly Reports</a></li>
                <!-- <li><a href='/nightly' id='lknightly'>Nightly Plan</a></li>-->
                <li><a href='/device'>Device Management</a></li>
            </ul>

            <ul class='rnav'>
                <li><a href='/report' id='lkreport'>Fullpass Reports</a></li>
            </ul>
        </nav>
        {% block body %} body {% end %}
        <footer>
            {% block footer %}2014 OTC Web QA Team{% end %}
        </footer>
    </div>
  </body>
</html>
