{% extends "main.htm" %}

{% block body %}
    <div id='filter'>
        <div class='csection'>
            <form method='post' action='/nightlycordova/querycordova'>
                <table class='deviceselect'>
                    <tr>
                        <th>IA Phone</th>
                        <th>ARM Phone</th>
                        <th>IA Tablet</th>
                        <th>ARM Tablet</th>
                    </tr>
                    <tr>
                        <td>
                            {% for device in devices %}
                                {% if device.platform.lower() == 'android' and device.architecture.lower() == 'ia' and device.type.lower() == 'phone' %}
                                    <input name="id_{{ device.id }}" id="id_{{ device.id }}" type="checkbox" value="{{ escape(device.name) }}" class="cbselector"> {{ escape(device.name) }}<br/>
                                {% end %}
                            {% end %}                        
                        </td>
                        <td>
                            {% for device in devices %}
                                {% if device.platform.lower() == 'android' and device.architecture.lower() == 'arm' and device.type.lower() == 'phone' %}
                                    <input name="id_{{ device.id }}" id="id_{{ device.id }}" type="checkbox" value="{{ escape(device.name) }}" class="cbselector"> {{ escape(device.name) }}<br/>
                                {% end %}
                            {% end %}                     
                        </td>
                        <td>
                            {% for device in devices %}
                                {% if device.platform.lower() == 'android' and device.architecture.lower() == 'ia' and device.type.lower() == 'tablet' %}
                                    <input name="id_{{ device.id }}" id="id_{{ device.id }}" type="checkbox" value="{{ escape(device.name) }}" class="cbselector"> {{ escape(device.name) }}<br/>
                                {% end %}
                            {% end %} 
                        </td>
                        <td>
                            {% for device in devices %}
                                {% if device.platform.lower() == 'android' and device.architecture.lower() == 'arm' and device.type.lower() == 'tablet' %}
                                    <input name="id_{{ device.id }}" id="id_{{ device.id }}" type="checkbox" value="{{ escape(device.name) }}" class="cbselector"> {{ escape(device.name) }}<br/>
                                {% end %}
                            {% end %} 
                        </td>
                    </tr>
                </table>
                <input id='btquery' type='submit' text='Query' value='Query'>
                <div id='distype'>
                    <ul id='tog' class='notdisplay'>
                        <li id='chart'>Chart</li>
                        <li id='data'>Data</li>
                    </ul>
                    <ul id='ind'>
                        <li id='plus'>+</li>
                        <li id='updown'>&uarr;</li>        
                    </ul>
                </div>  
            </form>
        </div>
        <script type="text/javascript">
            $( document ).ready(function() {
                   $('#id_{{ d }}').attr('checked','checked');
            });
        </script>
    </div>  
    <article>
        Oops, HTTP 404 Not Found. 
 
        <script type="text/javascript" src='{{ static_url('ui.js') }}'></script>
    </article>
{% end %}
