{% extends "main.htm" %}

{% block body %}
<div id='filter'>
        <div class='csection'>
            <div class='ctitle'>Platform:</div>
            <ul>
                {% if platform != '0' and platform != '' %}
                    {% for platforms in lprofile %}
                        <li>
                            <a href='/report/{{escape(platforms.profile)}}/0/0/0' {% if platform.lower() == platforms.profile.lower() %} class='selected' {% end %}>{{escape(platforms.profile)}}</a>
                        </li>
                    {% end %}
                {% else %}
                    <li>
                        <a href='/report/Tizen/0/0/0'>Tizen</a>
                    </li>                
                    <li>
                        <a href='/report/Android/0/0/0'>Android</a>
                    </li>  
                {% end %}
            </ul>
        </div>
        {% if platform != '0' and platform != '' %}
        <div class='csection'>
            <div class='ctitle'>Architecture:</div>
            <ul>
                {% for architectures in larchitecture %}
                    <li><a href='/report/{{escape(platform)}}/{{ escape(architectures.darchitecture) }}/0/0' {% if architecture.lower() == architectures.darchitecture.lower() %} class='selected' {% end %}>{{ escape(architectures.darchitecture) }}</a></li>
                {% end %}
            </ul>
        </div>
        {%end%}
        {% if architecture != '0' and architecture != '' %}
        <div class='csection'>
            <div class='ctitle'>Branch:</div>
            <ul>
                {% for branchs in lbranch %}
                    <li><a href='/report/{{escape(platform)}}/{{escape(architecture)}}/{{ escape(branchs.branch) }}/0' {% if branch.lower() == branchs.branch.lower() %} class='selected' {% end %}>{{ escape(branchs.branch) }}</a></li>
                {% end %}
            </ul>
        </div>
        {%end%}
        {% if branch != '0' and branch != '' %}
         <div class='csection'>
             <div class='ctitle'>Type:</div>
             <ul>
                 {% for hardwares in lhardware %}
                    <li><a href='/report/{{escape(platform)}}/{{escape(architecture)}}/{{ escape(branch) }}/{{ escape(hardwares.hardware) }}' {% if hardware.lower() == hardwares.hardware.lower() %} class='selected' {% end %}>{{ escape(hardwares.hardware) }}</a>
                 {% end %}
             </ul>
         </div> 
         {% end %}
</div>  
 <article>
    <div id='distype'>
        <ul id='tog' class='notdisplay'>
            <li id='chart'>Chart</li>
            <li id='data'>Data</li>
        </ul>
        <ul id='ind'>
            <li id='plus'>+</li>
            <li id='updown'>&uarr;</li>        
        </ul>
    </div>  
    {% if len(l) > 0 %} 
     <script type="text/javascript">
         $(function () { 
             bids = [
                     {% for lv in l[::-1] %}
                        '{{lv.build_id}}',
                     {% end %}
                    ];
     
             $('#container_{{ l[0].profile}}').highcharts({
                     chart: {},
                     title: {
                         text: '{{ l[0].profile }} {{ l[0].darchitecture }} / {{ l[0].branch }} / {{ l[0].hardware }}'
                     },
                     subtitle: {
                         text: 'Source: http://wrt-qa-report.sh.intel.com/v2/{{ l[0].profile }}/{% if (l[0].darchitecture.lower() =="common") or (l[0].darchitecture.lower() =="generic") %}Tizen {%end%}{{ l[0].darchitecture }} {{ l[0].branch }}/{{ l[0].hardware }}'
                     },
                     xAxis: {
                         categories: bids
                     },
                     yAxis: [{
                         allowDecimals: false,
                        {% if (l[0].hardware.lower().find('webapi') >= 0) or (l[0].hardware.lower() == 'nightly') or (l[0].hardware.lower() == 'temp') %}
                           min: 0,
                        {% else %}
                           min: 0,
                        {% end %}
                         {% if (l[0].hardware.lower().find('webapi') >= 0) or (l[0].hardware.lower() == 'nightly') or (l[0].hardware.lower() == 'temp') %}
                            max: 10000,
                         {% else %}
                            max: 500,
                         {% end %}
                         title: {
                             text: 'Number of TCs',
                             style: {
                                 color: Highcharts.getOptions().colors[1]
                             }
                         },
                         labels: {
                                 style: {
                                     color: Highcharts.getOptions().colors[1]
                                 }
                         },
                     }, {
                         title: {
                             text: 'Pass Rate(%)',
                             style: {
                                 color: Highcharts.getOptions().colors[1]
                             }
     
                         },
                         labels: {
                             format: '{value}%',
                             style: {
                                 color: Highcharts.getOptions().colors[1]
                             }
     
                         },
                         min: 25,
                         max: 100,
                         opposite: true,
                     }],
                     tooltip: {
                         shared: true,
                     },
                     plotOptions: {
                         column: {
                             stacking: 'normal',
                             dataLabels: {
                                 enabled: false,
                                 style: {
                                     color: Highcharts.getOptions().colors[2],
                                 }
                             }
                         },
                         spline: {
                             dataLabels: {
                                 enabled: false,
                                 distance: 2,
                                 style: {
                                     color: Highcharts.getOptions().colors[12],
                                     textShadow: '0px 0px 0px ' + Highcharts.getOptions().colors[0],
                                 },
                                 formatter: function() {
                                     return this.y + '%';
                                 }
                             }
                         }
                     },
     
                     series: [{
                             type: 'column',
                             name: 'Blocked',
                             color: Highcharts.getOptions().colors[3],
                             data: [
                                 {% for lv in l[::-1] %}
                                     {{ lv.total_na }},
                                 {% end %}  
                             ],
                             stack: 'Full'
                         }, 
                         {
                             type: 'column',
                             name: 'Failed',
                             color: Highcharts.getOptions().colors[5],
                             data: [
                                 {% for lv in l[::-1] %}
                                     {{ lv.total_fail }},
                                 {% end %}                            
                         ],
                             stack: 'Full'
                         }, 
                         {
                              type: 'column',
                              name: 'Passed',
                              color: Highcharts.getOptions().colors[0],
                              data: [
                                  {% for lv in l[::-1] %}
                                     {{ lv.total_pass }},
                                  {% end %}
                              ],
                              stack: 'Full'
                          },  
           
                         {
                             type: 'spline',
                             name: 'Pass Rate',
                             color: Highcharts.getOptions().colors[0],
                             yAxis: 1,
                             data: [
                                 {% for lv in l[::-1] %}
                                    {{ round(float(lv.total_pass)*100/lv.total_cases, 0) }}, 
                                 {% end %}
                             ],
                             tooltip: {
                                 valueSuffix: '%'
                             },
                             dataLabels: {
                                 enabled: true
                             }
                         } 
                     ]
                 });
         });
     </script>
     <div id="container_{{ l[0].profile }}" style="max-width: 800px; height: 400px; margin: 0 auto"></div>
     <h5>{{ l[0].profile }} {{ l[0].darchitecture }} / {{ l[0].branch }} / {{ l[0].hardware }}</h5>
     <table class="reports">
         <tr>
             <th></th>
             {% for lv in l[::-1] %}
             <th><a href='http://wrt-qa-report.sh.intel.com/v2/{{ l[0].profile }}/{% if (l[0].darchitecture.lower() =="common") or (l[0].darchitecture.lower() =="generic") %}Tizen {%end%}{{ l[0].darchitecture }} {{ l[0].branch }}/{{ l[0].hardware }}/{{ lv.qa_id }}'>{{escape(lv.build_id)}}</a></th>
             {% end %}
             <th>+/-</th>
         </tr>
         <tr>
             <td>Total TC</td>
             {% for lv in l[::-1] %}
             <td>{{ lv.total_cases }}</td>
             {% end %}
             <td class='{% if l[0].total_cases - l[1].total_cases < 0 %}{% if l[0].total_cases - l[1].total_cases < 300 %}very{% end %} down{% else %}up{% end %}'>
             {{ l[0].total_cases - l[1].total_cases }}</td>
         </tr>
         <tr>
             <td>Passed</td>
             {% for lv in l[::-1] %}
             <td>{{ lv.total_pass }}</td>
             {% end %}
             <td class='{% if  l[0].total_pass - l[1].total_pass < 0 %}{% if l[0].total_pass - l[1].total_pass < 300 %}very{% end %} down{% else %}up{% end %}'>
             {{ l[0].total_pass - l[1].total_pass }}</td>
         </tr>
         <tr>
             <td>Failed</td>
             {% for lv in l[::-1] %}
             <td>{{ lv.total_fail }}</td>
             {% end %}
             <td class='{% if  l[0].total_fail - l[1].total_fail <= 0 %}up{% else %}down{% end %}'>
             {{ l[0].total_fail - l[1].total_fail }}</td>
         </tr>
         <tr>
             <td>Blocked</td>
             {% for lv in l[::-1] %}
             <td>{{ lv.total_na }}</td>
             {% end %}
             <td class='{% if  l[0].total_na - l[1].total_na <= 0 %}up{% else %}down{% end %}'>
             {{l[0].total_na - l[1].total_na}}</td>
         </tr>
         <tr>
             <td>Pass rate</td>
             {% for lv in l[::-1] %}
             <td>{{ format(float(lv.total_pass)/lv.total_cases, '.0%') }}</td>
             {% end %}
             <td class='{% if  float(l[0].total_pass)/l[0].total_cases  - float(l[1].total_pass)/l[1].total_cases < 0 %}down{% else %}up{% end %}'>
             {{ format(float(l[0].total_pass)/l[0].total_cases - float(l[1].total_pass)/l[1].total_cases, '.1%') }}</td>
         </tr>
     </table>  
 
     <script type='text/javascript' src='{{ static_url('highcharts/js/highcharts.js') }}'></script>
     <script type='text/javascript' src='{{ static_url('highcharts/js/modules/exporting.js') }}'></script>
    {% else %}
        <div id='noresult'>No matching results found. Please add or modify your search criteria and try searching again, or there is no result for your criteria.</div>
    {% end %}
     <script type="text/javascript" src='{{ static_url('ui.js') }}'></script>
 </article>
 
{% end %}
