{% extends "main.htm" %}

{% block body %}

<div id='distype'>
    <ul>
        <li id='all' class='dison'>Both</li>
        <li id='chart'>Charts</li>
        <li id='data'>Data</li>
    </ul>
</div>   
 <article>

     {% for list in l %}
         <h4>{{ list[0].profile }} / {{ list[0].darchitecture }} / {{ list[0].branch }} / {{ list[0].hardware }}</h4>

         <script type="text/javascript">
             $(function () { 
                 bids = [
                         {% for lv in list[::-1] %}
                            '{{lv.build_id}}',
                         {% end %}
                        ];
         
                 $('#container_{{ list[0].profile}}_{{lv.hardware}}').highcharts({
                         chart: {},
                         title: {
                             text: '{{ list[0].profile }} / {{ list[0].darchitecture }} / {{ list[0].branch }} / {{ list[0].hardware }}'
                         },
                         subtitle: {
                             text: 'Source: http://wrt-qa-report.sh.intel.com/v2/{{ list[0].profile }}/IA%20Canary/{{ list[0].hardware }}'
                         },
                         xAxis: {
                             categories: bids
                         },
                         yAxis: [{
                             allowDecimals: false,
                             min: 0,
                             {% if list[0].hardware.lower() == 'feature' %}
                                max: 800,
                             {% else %}
                                max: 10000,
                             {% end %}
                             title: {
                                 text: 'Number of TCs',
                                 style: {
                                     color: Highcharts.getOptions().colors[1]
                                 }
                             },
                             labels: {
                                     style: {
                                         color: Highcharts.getOptions().colors[1]
                                     }
                             },
                         }, {
                             title: {
                                 text: 'Pass Rate(%)',
                                 style: {
                                     color: Highcharts.getOptions().colors[1]
                                 }
         
                             },
                             labels: {
                                 format: '{value}%',
                                 style: {
                                     color: Highcharts.getOptions().colors[1]
                                 }
         
                             },
                             min: 25,
                             max: 100,
                             opposite: true,
                         }],
                         tooltip: {
                             shared: true,
                         },
                         plotOptions: {
                             column: {
                                 stacking: 'normal',
                                 dataLabels: {
                                     enabled: false,
                                     style: {
                                         color: Highcharts.getOptions().colors[2],
                                     }
                                 }
                             },
                             spline: {
                                 dataLabels: {
                                     enabled: false,
                                     distance: 2,
                                     style: {
                                         color: Highcharts.getOptions().colors[12],
                                         textShadow: '0px 0px 0px ' + Highcharts.getOptions().colors[0],
                                     },
                                     formatter: function() {
                                         return this.y + '%';
                                     }
                                 }
                             }
                         },
         
                         series: [{
                                 type: 'column',
                                 name: 'Blocked',
                                 color: Highcharts.getOptions().colors[3],
                                 data: [
                                     {% for lv in list[::-1] %}
                                         {{ lv.total_na }},
                                     {% end %}  
                                 ],
                                 stack: 'Full'
                             }, 
                             {
                                 type: 'column',
                                 name: 'Failed',
                                 color: Highcharts.getOptions().colors[5],
                                 data: [
                                     {% for lv in list[::-1] %}
                                         {{ lv.total_fail }},
                                     {% end %}                            
                             ],
                                 stack: 'Full'
                             }, 
                             {
                                  type: 'column',
                                  name: 'Passed',
                                  color: Highcharts.getOptions().colors[0],
                                  data: [
                                      {% for lv in list[::-1] %}
                                         {{ lv.total_pass }},
                                      {% end %}
                                  ],
                                  stack: 'Full'
                              },  
               
                             {
                                 type: 'spline',
                                 name: 'Pass Rate',
                                 color: Highcharts.getOptions().colors[0],
                                 yAxis: 1,
                                 data: [
                                     {% for lv in list[::-1] %}
                                        {{ round(float(lv.total_pass)*100/lv.total_cases, 0) }}, 
                                     {% end %}
                                 ],
                                 tooltip: {
                                     valueSuffix: '%'
                                 },
                                 dataLabels: {
                                     enabled: true
                                 }
                             } 
                         ]
                     });
             });
         </script>
         <div id="container_{{ list[0].profile }}_{{lv.hardware}}" style="max-width: 800px; height: 400px; margin: 0 auto"></div>
         <table class="reports">
             <tr>
                 <th></th>
                 {% for lv in list[::-1] %}
                 <th><a href='http://wrt-qa-report.sh.intel.com/v2/{{ lv.profile }}/{{lv.darchitecture}}%20Canary/{{lv.hardware}}/{{ lv.qa_id }}'>{{escape(lv.build_id)}}</a></th>
                 {% end %}
                 <th>+/-</th>
             </tr>
             <tr>
                 <td>Total TC</td>
                 {% for lv in list[::-1] %}
                 <td>{{ lv.total_cases }}</td>
                 {% end %}
                 <td class='{% if list[0].total_cases - list[1].total_cases < 0 %}{% if list[0].total_cases - list[1].total_cases < 300 %}very{% end %} down{% else %}up{% end %}'>
                 {{ list[0].total_cases - list[1].total_cases }}</td>
             </tr>
             <tr>
                 <td>Passed</td>
                 {% for lv in list[::-1] %}
                 <td>{{ lv.total_pass }}</td>
                 {% end %}
                 <td class='{% if  list[0].total_pass - list[1].total_pass < 0 %}{% if list[0].total_pass - list[1].total_pass < 300 %}very{% end %} down{% else %}up{% end %}'>
                 {{ list[0].total_pass - list[1].total_pass }}</td>
             </tr>
             <tr>
                 <td>Failed</td>
                 {% for lv in list[::-1] %}
                 <td>{{ lv.total_fail }}</td>
                 {% end %}
                 <td class='{% if  list[0].total_fail - list[1].total_fail <= 0 %}up{% else %}down{% end %}'>
                 {{ list[0].total_fail - list[1].total_fail }}</td>
             </tr>
             <tr>
                 <td>Blocked</td>
                 {% for lv in list[::-1] %}
                 <td>{{ lv.total_na }}</td>
                 {% end %}
                 <td class='{% if  list[0].total_na - list[1].total_na <= 0 %}up{% else %}down{% end %}'>
                 {{list[0].total_na - list[1].total_na}}</td>
             </tr>
             <tr>
                 <td>Pass rate</td>
                 {% for lv in list[::-1] %}
                 <td>{{ format(float(lv.total_pass)/lv.total_cases, '.0%') }}</td>
                 {% end %}
                 <td class='{% if  float(list[0].total_pass)/list[0].total_cases  - float(list[1].total_pass)/list[1].total_cases < 0 %}down{% else %}up{% end %}'>
                 {{ format(float(list[0].total_pass)/list[0].total_cases - float(list[1].total_pass)/list[1].total_cases, '.1%') }}</td>
             </tr>
         </table>  
     {% end %}

     <script type='text/javascript' src='{{ static_url('highcharts/js/highcharts.js') }}'></script>
     <script type='text/javascript' src='{{ static_url('highcharts/js/modules/exporting.js') }}'></script>
     <script type="text/javascript">
         $(document).ready(function() {
             $('#all').click(function() {
                 $('div[id^="container"]').slideDown("slow");
                 $("h4").slideDown("slow");
                 $("table.reports").slideDown("slow");
                 $('#all').attr('class','dison');
                 $('#chart').removeClass('dison');
                 $('#data').removeClass('dison');
             });
            $('#chart').click(function() {
                $('div[id^="container"]').slideDown("slow");
                $("h4").slideUp("fast");
                $("table.reports").slideUp("fast");
                $('#all').removeClass('dison');
                $('#chart').attr('class','dison');
                $('#data').removeClass('dison');
            }); 
            $('#data').click(function() {
                $('div[id^="container"]').slideUp("fast");
                $("h4").slideDown("slow");
                $("table.reports").slideDown("slow");
                $('#all').removeClass('dison');
                $('#chart').removeClass('dison');
                $('#data').attr('class','dison');
            });        
         });
     </script>
 </article>
 
{% end %}
