<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" >
    <meta name="author" content="Belem, belem.zhang@intel.com">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=0.2, maximum-scale=3.0, user-scalable=yes" name="viewport" />
    <link href="home.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>{{ title }}</header>
    <ul>
      {% for entry in entries %}
        <li>{{ escape(entry) }}</li>
      {% end %}
    </ul>
  </body>
</html>